@model ConsultantCalculateVM[]

<link href="~/CSS/app.css" rel="stylesheet" />


@if (ViewBag.Message != null)
{
    <div class="small-12 columns">

        <div data-alert class="alert-box warning">
            <i class="fi-alert"></i> Please fill in all required fields. @ViewBag.Message
            <a href="#" class="close">&CircleTimes;</a>
        </div>
    </div>
}

<div class="row">
    <div class="addButton"><button style="background-color:black" class="button" data-open="UpdateModal">Set performance and calculate bonus</button></div>
</div>

@*<div class="row" id="content">
    <div class="medium-8 columns">*@
<div class="row column">

    <table class="center">
        >
        <thead>
            <tr>
                <th></th>
                <th width="200">Förnamn</th>
                <th width="200">Efternamn</th>
                <th>Anställningsnummer</th>
                <th>Anställningstid (år)</th>
                <th>Lojalitetsfaktor</th>
                <th>Debiterade timmar</th>
                <th width="150">Actions</th>
                <th width="150">Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consultant in Model)
            {
                <tr class="tableStyle" id="@consultant.Id">
                    <td><img src="~/Images/consultant.jpg" /></td>
                    <td class="firstName">@consultant.FirstName</td>
                    <td> @consultant.LastName</td>
                    <td id="id">@consultant.Id</td>
                    <td id="dateEmp">@consultant.EmployeeCategory</td>
                    <td id="loyalty">@consultant.LoyaltyFactor</td>
                    <td id="hours">@consultant.HoursWorked</td>
                    @*<td id="id"><input type="number" value="@consultant.HoursWorked"/></td>*@
                    <td><button id="edit" class="button" data-open="MyModal" onclick="UpdateHours(@consultant.Id)">Updatera debiterade timmar</button></td>
                    <td><p id="bonus">@consultant.Bonus</p></td>
                </tr>
            }


        </tbody>
    </table>
</div>



<div class="small reveal" id="MyModal" data-reveal>
    @*@Html.Partial("_ConsultantCRUD")*@
    <form data-abide method="post" action="AddHoursWorked">
        <div class="name-field">
            <label>
                EmployeeId
                <input type="text" id="idHoursForm" required name="Id" readonly>
            </label>
        </div>
        <div class="name-field">
            <label id="fullName">
                Namn
            </label>
        </div>
        <div class="name-field">
            <label>
                Hours charged:
                <input type="number" id="hoursWorked" name="HoursWorked">
            </label>
        </div>
        <button type="submit">Update</button>
    </form>


    <button class="close-button small" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


@*<h1>Total performance: </h1>
<h2 id="totalPerf">
    1 000 000
</h2>*@
@*<button class="button" data-open="PerfModal">Set performance and calculate bonus</button>*@
<div class="small reveal" id="UpdateModal" data-reveal>
    <form data-abide method="post" action="CalculateBonus">
        <div class="name-field">
            <label>
                Performance to calculate bonus
                <input type="number" id="totalPerformance" name="Performace">
            </label>
            <button id="bonusClick" class="submit" onclick="ShowBonus()">Submit performace and calculate new bonus</button>
        </div>
    </form>
</div> 