@model ConsultantCalculateVM


<div class="row column">

    <table>
        <thead>
            <tr>
                <th width="200">First Name</th>
                <th width="200">Last Name</th>
                <th>Employment ID</th>
                <th width="150">Date Of Employment</th>
                <th>Years of Employment</th>
                <th>Loyalty Factor</th>
                <th>Hours Worked</th>
                <th width="150">Actions</th>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
          @foreach (var consultant in Model.ConsultantList)
            {
                <tr id="@consultant.EmployeeId">
                    <td class="firstName">@consultant.FirstName</td>
                    <td> @consultant.LastName</td>
                    <td id="id">@consultant.EmployeeId</td>
                    <td id="id">@consultant.DateOfEmployment</td>
                    <td id="dateEmp">@consultant.EmployeeCategory</td>
                    <td id="id">@consultant.LoyaltyFactor</td>
                    
                    <td id="id"><input type="number" value="@consultant.HoursWorked"/></td>


                    <td><button class="button" OnClick="GetConsultantInfo(@consultant.EmployeeId)">Edit</button></td>
                    <td><button class="button alert" id="deleteButton" onclick="DeleteUser(@consultant.EmployeeId)" alert>Delete</button></td>


                </tr>
            }

        </tbody>
    </table>
</div>