@model ConsultantCalculateVM[]

<link href="~/CSS/app.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>

@if (ViewBag.Status != null)
{
    <div class="small-12 columns center">
        <div id="aleralertC" data-alert class="alert-box blueButton alert">
            @ViewBag.Status
        </div>
    </div>
    <script>
        $(aleralertC).fadeTo(2000, 500).slideUp(500, function () {
            $(aleralertC).slideUp(500);
        });
    </script>
}
@if(ViewBag.Status == "Bonus Uppdaterad")
{
    <script>
        $(document).ready(function () {
            $(".bonus").removeClass("none");
        });
    </script>
}

<div class="row">
    <div class="addButton"><button style="background-color:black" class="button tableStyle" data-open="UpdateModal">Ange resultat och beräkna bonus</button></div>
</div>


<div class="row column">

    <table class="center">
        <thead>
            <tr>
                <th width="200"></th>
                <th width="150">Förnamn</th>
                <th width="150">Efternamn</th>
                <th width="150">AnställningsID</th>
                <th width="150">År anställd</th>
                <th width="150">Lojalitet</th>
                <th width="180">Debiterat (h)</th>
                <th width="150"></th>
                <th width="150">Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consultant in Model)
            {
                <tr class="textStyle" id="@consultant.Id">

                    <td ><img style="width:50%" src="~/Images/pauline-profilbild.png" /></td>
                    <td class="firstName">@consultant.FirstName</td>
                    <td> @consultant.LastName</td>
                    <td id="id">@consultant.Id</td>
                    <td id="dateEmp">@consultant.EmployeeCategory</td>
                    <td id="loyalty">@consultant.LoyaltyFactor</td>
                    <td id="hours">@consultant.HoursWorked</td>
                    <td ><button class="button blueButton hideBonus" data-open="MyModal" onclick="UpdateHours(@consultant.Id)">Uppdatera debiterade timmar</button></td>
                    <td><p class="bonus none">@consultant.Bonus</p></td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="small reveal" id="MyModal" data-reveal>
    <form data-abide method="post" action="AddHoursWorked">
        <div class="name-field">
            <label>
                Anställningsnummer
                <input type="text" id="idHoursForm" required name="Id" readonly>
            </label>
        </div>
        <div class="name-field">
            <label id="fullName">
                Namn
            </label>
        </div>
        <div class="name-field">
            <label>
                Debiterade timmar:
                <input type="number" id="hoursWorked" name="HoursWorked">
            </label>
        </div>
        <button type="submit" class="button blueButton">Uppdatera</button>
    </form>


    <button class="close-button small" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="small reveal" id="UpdateModal" data-reveal>
    <form data-abide method="post" action="CalculateBonus">
        <div class="name-field">
            <label>
                Ange resultat för att beräkna ny bonus (presenteras längst till höger i tabellen)
                <input type="number" id="totalPerformance" name="Performace">
            </label>
            <button id="bonusClick" class="button submit blueButton">Beräkna bonus</button>
        </div>
    </form>
</div> 