@model ConsultantListVM[]
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.mixitup.min.js"></script>
<link href="~/CSS/MixItUp.css" rel="stylesheet" />
<script src="~/Scripts/MixItUp.js"></script>
<script src="~/Scripts/foundation.min.js"></script>
<script src="~/Scripts/app.js"></script>
@if (ViewBag.Message != null)
{
    <div class="small-12 columns">

        <div data-alert class="alert-box warning">
            <i class="fi-alert"></i> Please fill in all required fields. @ViewBag.Message
            <a href="#" class="close">&CircleTimes;</a>
        </div>
    </div>
}
<h1>Consultants</h1>

<div class="small reveal" id="MyModal" data-reveal>
    @*@Html.Partial("_ConsultantCRUD")*@
    @if (ViewBag.Message != null)
    {
        <div class="small-12 columns">

            <div data-alert class="alert-box warning">
                <i class="fi-alert"></i> Please fill in all required fields. @ViewBag.Message
                <a href="#" class="close">&CircleTimes;</a>
            </div>
        </div>
    }
    <form data-abide method="post" action="AddConsultant">
        <div class="name-field">
            <label>
                Förnamn
                <input type="text" id="firsNameForm" required pattern="[a-zA-Z]+" name="FirstName">
            </label>
        </div>
        <div class="name-field">
            <label>
                Efternamn
                <input type="text" id="lastNameForm" required pattern="[a-zA-Z]+" name="LastName">
            </label>
        </div>
        <div class="date-field">
            <label>
                Anställningsdatum
                <input type="date" required pattern="[YYYY-MM-DD]" name="DateOfEmployment">
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
   

<button class="close-button small" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>
</div>

<button class="button success" data-open="MyModal">Add Consultant</button>



<div class="row column">

    <table>
        <thead>
            <tr>
                <th width="200">First Name</th>
                <th width="200">Last Name</th>
                <th>Employment ID</th>
                <th width="150">Date Of Employment</th>
                <th width="150">Actions</th>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consultant in Model)
            {
                <tr id="@consultant.EmployeeId">
                    <td class="firstName">@consultant.FirstName</td>
                    <td > @consultant.LastName</td>
                    <td id="id">@consultant.EmployeeId</td>
                    <td id="dateEmp">@consultant.DateOfEmployement</td>
                    <td><button class="button" OnClick="GetConsultantInfo(@consultant.EmployeeId)">Edit</button></td>
                    <td><button class="button alert"id="deleteButton" onclick="DeleteUser(@consultant.EmployeeId)" alert>Delete</button></td>
                    @*<a href="#" class="alert-button alert">Alert Button</a>*@

                    
                </tr>
            }

        </tbody>
    </table>
</div>
